&ControlNWP
    RadFileList='config/OBS_RAD_FILE'
    atmNWPFilesList='config/GFS_ATM_LIST'
    sfcNWPFilesList='config/GFS_SFC_LIST'
    pathNWPout='edr_coloc_nwp/'

    Topogr='/data/home001/dxu/mirs_trunk/data/StaticData/Topography/topography.bin_sgi'
    CovBkgFileAtm='/data/home001/dxu/mirs_trunk/data/StaticData/CovBkgStats/CovBkgMatrxTotAtm_all.dat'
    norbits2process=1000000
    LogFile='/data/home001/dxu/mirs_trunk/logs/f18_logFile_2013_01_20.dat'
    nprofs2process=1000000
    sensor_id=5
    nwp_source=3
    Coeff_Path='/data/home001/dxu/mirs_trunk/data/StaticData/CRTMFiles/'
    BiasFile='/data/home001/dxu/mirs_trunk/data/SemiStaticData/biasCorrec/biasCorrec_f18.dat'
    TuningFile='/data/home001/dxu/mirs_trunk/data/StaticData/TuningData/TunParams_f18_ssmis.in'
/
