&ControlNWP
    RadFileList='/disks/data086/emaddy/dat/observation_assessment_tool/scripts/lists/obs_rad_20130722_gcomw1_amsr2.list'
    atmNWPFilesList='/disks/data086/emaddy/dat/observation_assessment_tool/scripts/lists/ecmwf_atm_20130722.list'
    sfcNWPFilesList='/disks/data086/emaddy/dat/observation_assessment_tool/scripts/lists/ecmwf_sfc_20130722.list'
    pathNWPout='/disks/data086/emaddy/dat/observation_assessment_tool/data/TestbedData/edr/gcomw1_amsr2/2013-07-22/'

    Topogr='../data/static/Topography/topography.bin_sgi'
    CovBkgFileAtm='../data/static/CovBkgStats/CovBkgMatrxTotAtm_all.dat'
    norbits2process=1000000
    LogFile='/disks/data086/emaddy/dat/observation_assessment_tool/log/amsr2_logFile.dat'
    nprofs2process=1000000
    sensor_id=15
    nwp_source=2
    Coeff_Path='../data/crtm_coeffs/'
    BiasFile='../data/static/biasCorrec/biasCorrec_gcomw1.dat'
    TuningFile='../data/static/TuningData/TunParams_gcomw1_amsr2.in'
/
