&ContrlP_fwd
    CntrlConfig_fwd%GeophInputFile='/disks/data086/emaddy/dat/observation_assessment_tool/scripts/lists/NWP_ECMWF_20130722_gcomw1_amsr2.list'
    CntrlConfig_fwd%Coeff_Path='../data/crtm_coeffs/'
    CntrlConfig_fwd%InstrConfigFile='/disks/data086/emaddy/dat/observation_assessment_tool/data/static/InstrConfigInfo/InstrConfig_gcomw1_amsr2.dat'
    CntrlConfig_fwd%OutputFile='/disks/data086/emaddy/dat/observation_assessment_tool/scripts/lists/FWD_NWP_ECMWF_20130722_gcomw1_amsr2.list'
    CntrlConfig_fwd%nprofs2process=1000000
    CntrlConfig_fwd%SensorID=15
    CntrlConfig_fwd%ChanSel(1:14)=14*1
    CntrlConfig_fwd%iAddDeviceNoise=0
    CntrlConfig_fwd%iCldOffOrOn=0
    CntrlConfig_fwd%NoiseFile='nedt/noise_gdas_20130722_FMSDR_gcomw1_amsr2.dat'
    CntrlConfig_fwd%iPrintMonitor=0
    CntrlConfig_fwd%LogFile='/disks/data086/emaddy/dat/observation_assessment_tool/log/gdas_ecmwf_20130722_FMSDR_gcomw1_amsr2.log'
/
