/data/home001/dxu/archive_data/mirs_test/gfs/gfs_sfc2013-01-20.t00
/data/home001/dxu/archive_data/mirs_test/gfs/gfs_sfc2013-01-20.t06
/data/home001/dxu/archive_data/mirs_test/gfs/gfs_sfc2013-01-20.t12
/data/home001/dxu/archive_data/mirs_test/gfs/gfs_sfc2013-01-20.t18
/data/home001/dxu/archive_data/mirs_test/gfs/gfs_sfc2013-01-21.t00
/data/home001/dxu/archive_data/mirs_test/gfs/gfs_sfc2013-01-21.t06
