&ContrlP_fwd
    CntrlConfig_fwd%GeophInputFile='EDR_COLOC_NWP_FILE'
    CntrlConfig_fwd%Coeff_Path='COAT_PATH/data/crtm_coeffs/'
    CntrlConfig_fwd%InstrConfigFile='STATIC_DATA/InstrConfigInfo/InstrConfig_SATSENSOR.dat'
    CntrlConfig_fwd%OutputFile='FMSDR_SIM_RAD_FILE'
    CntrlConfig_fwd%nprofs2process=10000000
    CntrlConfig_fwd%SensorID=SENSORID
    CntrlConfig_fwd%ChanSel(1:NCHAN)=NCHAN*1
    CntrlConfig_fwd%iAddDeviceNoise=0
    CntrlConfig_fwd%iCldOffOrOn=0
    CntrlConfig_fwd%NoiseFile='nedt/NOISE_FILE'
    CntrlConfig_fwd%iPrintMonitor=0
    CntrlConfig_fwd%LogFile='LOG_PATH/LOG_FILE'
/
