&ControlNWP
    RadFileList='OBS_RAD_LIST'
    atmNWPFilesList='NWP_ATM_LIST'
    sfcNWPFilesList='NWP_SFC_LIST'
    pathNWPout='EDR_PATH/DATE/'

    Topogr='COAT_PATH/data/static/Topography/topography.bin_sgi'
    CovBkgFileAtm='COAT_PATH/data/static/CovBkgStats/CovBkgMatrxTotAtm_all.dat'
    norbits2process=10000000
    LogFile='LOG_PATH/SENSOR_logFile.dat'
    nprofs2process=10000000
    sensor_id=SENSORID
    nwp_source=NWPID
    Coeff_Path='COAT_PATH/data/crtm_coeffs/'
    BiasFile='COAT_PATH/data/bias_coeffs/biasCorrec_SAT.dat'
    TuningFile='COAT_PATH/data/static/TuningData/TunParams_SAT_SENSOR.in'
/
