&ControlNWP
    WindFileList='OBS_WIND_LIST'
    atmNWPFilesList='NWP_ATM_LIST'
    sfcNWPFilesList='NWP_SFC_LIST'
    windNWPFilesList='NWP_WIND_LIST'
    pathNWPout='EDR_PATH/DATE/'

    CovBkgFileAtm='../data/static/CovBkgStats/CovBkgMatrxTotAtm_all.dat'
    norbits2process=10000000
    LogFile='LOG_PATH/SATSENSOR_logFile.dat'
    nprofs2process=10000000
    sensor_id=SENSORID
    nwp_source=NWPID
    surface_wind=SURFACEFLG
/
